services:
  php:
    image: php:8.2-apache 
    container_name: FIL_php
    restart: always
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html/public


  mysql:
    image: mysql:latest
    container_name: FIL_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: FIL_ROUGE
      MYSQL_USER: FrJroot
      MYSQL_PASSWORD: FrJroot
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: FIL_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data: